body {
  font-family: sans-serif;
}

.App {
  background-color: #f4f4f4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3em;
  box-sizing: border-box;
  overflow: hidden;
}

.container-wrapper {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  height: 80vh;
  flex: 1;
  overflow: hidden;
}

.animation-span {
  flex: 1;
  height: 100%;
}

.wrapper-item {
  flex: 0 0 50%;
  display: block;
}

.image-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.home-content {
  height: 100%;
  width: 100%;
  display: flex;
}

.content-wrapper {
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.home-page {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.my-name {
  font-size: 24px;
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
}

.my-name::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #777575;
  width: 100px;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-button {
  background: none;
  border-radius: 8px;
  padding: 5px 10px;
  width: 90px;
  font-weight: lighter;
  border-color: #b3b3b3;
  color: #777575;
  transition: all ease-in-out .24s;
  cursor: pointer;
  border: 1px solid;
  margin-bottom: 15px;
  text-align: center;
}

.nav-button:hover {
  color: #49c8ff;
  border-color: #49c8ff;
}

.nav-button:focus {
  outline: none;
}

.links {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
}

.link-item > a,
.link-item > a:visited {
  color: #777575;
  text-decoration: none;
  transition: color ease-in-out .24s;
}

.link-item > a:hover,
.link-item > a:focus {
  color: #49c8ff;
}

.contacts {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #777575;
}

.right-content {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

li.blog {
  box-shadow: 0px 0px 1px 0.5px rgba(0,0,0,0.3);
  border-radius: 2px;
  margin-bottom: 17px;
  padding: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

li.blog a {
  text-decoration: none;
  color: inherit;
}

li.blog:hover {
  box-shadow: 0px 1px 10px 0.5px rgba(0,0,0,.3);
}

li.blog:hover .title {
  color: #49c8ff;
}

li.blog .title {
  transition: all ease-in-out 0.3s;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.75;
}

li.blog .title span.blog-number {
  font-size: 14px;
  padding-right: 10px;
  color: #818080;
}

li.blog .infos {
  color: #777575;
}

.wroks {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

ul.works-wrapper {
  border-left: 2px solid #41b0e0;
  margin-left: 20px;
}

li.work {
  position: relative;
}

li.work .dot-wrapper {
  position: relative;
  background: white;
  padding: 5px;
  top: -10px;
  color: #41b0e0;
  display: flex;
  align-items: center;
}

li.work .dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #41b0e0;
  border: 2px solid #fff;
  left: -6px;
  border-radius: 50%;
}

li.work .date {
  color: #cccccc;
  margin-left: 5px;
}

li.work .card {
  margin: 20px;
  margin-top: 5px;
  padding: 5px 10px;
}

.year-wrapper h3 {
  color: #41b0e0;
}

@media (max-width: 768px) {
  .App {
    padding: 0 2em;
  }

  .container-wrapper {
    height: 85vh;
  }

  .home-page {
    height: 95%;
  }

  .home-content,
  .container-wrapper {
    flex-direction: column;
  }

  .wrapper-item:first-child {
    flex: 0 0 25%;
  }

  .wrapper-item:last-child {
    flex: 0 0 75%;
    overflow: hidden;
  }

  .contacts {
    font-size: .8rem;
    width: 90%;
  }

  li.blog .title {
    font-size: 14px;
    line-height: 1.35;
  }

  li.blog .infos {
    color: #777575;
    font-size: 12px;
  }

  .nav-button {
    font-size: 14px;
  }
}