.App {
  background-color: #f4f4f4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3em;
  box-sizing: border-box;
  overflow: hidden;
}

.container-wrapper {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  height: 80vh;
  flex: 1;
  overflow: hidden;
}

.animation-span {
  flex: 1;
  height: 100%;
}

.wrapper-item {
  flex: 0 0 50%;
  display: block;
}

.image-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
}

.home-content {
  height: 100%;
  width: 100%;
  display: flex;
}

.content-wrapper {
  height: 100%;
  background-color: #fff;
}