.home-enter,
.home-leave {
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.home-enter.home-enter-active {
  animation-name: zoomIn;
}

.home-leave.home-leave-active {
  animation-name: zoomOut;
}

.workimg-enter,
.workimg-leave {
  animation-duration: 250ms;
}

.workimg-enter.workimg-enter-active {
  animation-name: fadeInDown;
}

.workimg-leave.workimg-leave-active {
  animation-name: fadeOutUp;
}

.workcontent-enter,
.workcontent-leave {
  animation-duration: 250ms;
}

.workcontent-enter.workcontent-enter-active {
  animation-name: fadeInUp;
}

.workcontent-leave.workcontent-leave-active {
  animation-name: fadeOutDown;
}

.blog-enter {
  animation-duration: 200ms;
}

.blog-enter.blog-enter-active {
  animation-name: zoomIn;
}


.workanimate-enter {
  animation-duration: 200ms;
}

.workanimate-enter.workanimate-enter-active {
  animation-name: slideInUp;
}